/* .dot */

.dot {
  background-size: var(--dot-size) var(--dot-size);
  background-image: radial-gradient(var(--dot-color) 1px, var(--background) 1px);
  background-position: center;
}

/* Dot bottom */

.dot-bottom,
.dot-top {
  position: relative;
}

.dot-bottom::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: var(--dot-background-size);
  background-image: var(--dot-background-image);
  background-position: center;
}

.dot-bottom::after {
  content: '';
  background-image:
    linear-gradient(
      to bottom,
      var(--background) 0%,
      var(--dot-transparent) 100%
    );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

/* Dot top */

.dot-top::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  width: 100%;
  height: 40%;
  background-size: var(--dot-background-size);
  background-image: var(--dot-background-image);
  background-position: center;
}

.dot-top::after {
  content: '';
  background-image:
    linear-gradient(
      to top,
      var(--background) 0%,
      var(--dot-transparent) 100%
    );
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  width: 100%;
  height: 40%;
}
