:root {
  --fg: #000;
  --bg: #fff;
  --border: rgba(0, 0, 0, 0.1);
  --dot: #afafaf;
  --time: 2s;

  background-color: var(--bg);
}

* {
  box-sizing: border-box;
  background-color: inherit;
}

::selection {
  color: var(--bg);
  background: var(--fg);
}

::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-size: 16px;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

h1 {
  font-size: 2rem;
}

.wrapper {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-columns: 65px 1fr;
  grid-template-rows: 1fr;
  grid-template-areas: "aside main";
}

.dark {
  filter: invert(100%);
}

.dark .no-invert,
.dark video,
.dark img:not([src*=".svg"]) {
  filter: invert(100%);
}

aside {
  grid-area: aside;
  background: var(--bg);
  border-right: 1px solid var(--border);
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -webkit-user-select: none;
}

.logo,
.logo svg,
.logo img {
  height: 30px;
  width: auto;
}

main {
  min-width: 680px;
  grid-area: main;
  color: var(--fg);
  background: var(--bg);
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  overflow: auto;
}

section {
  height: 100vh;
  width: 100%;
  min-height: 100vh;
  min-width: 100%;
  padding: 30px;
}

.sticky {
  position: absolute;
  opacity: 0;
  bottom: 45px;
  animation: slide-down 6s forwards;
  animation-delay: 1s;
}

@keyframes slide-down {
  0% {
    opacity: 0;
    transform: translateY(-150px);
  }

  50% {
    opacity: 1;
    transform: translateY(0);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.start {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.links {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.line {
  background-image:
    linear-gradient(to right, var(--border) 1px, transparent 1px),
    linear-gradient(to top, var(--border) 1px, transparent 1px);
  background-size: 50px 50px;
  background-position: center;
}

.dot {
  background-size: 50px 50px;
  background-image: radial-gradient(var(--dot) 1px, var(--bg) 1px);
  background-position: center;
}

.tri {
  background:
    linear-gradient(-60deg, var(--dot) 2px, transparent 1px),
    linear-gradient(60deg, var(--dot) 2px, transparent 1px),
    var(--bg);
  background-size: 50px 50px;
  background-position: center;
}

.col {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.me {
  height: 200px;
  border-radius: 50%;
}

a {
  text-decoration: none;
  color: inherit;
}

.link a::after {
  content: "";
  z-index: -1;
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.2rem;
  width: 1rem;
  background: #e5e5e5;
  transition: width 200ms;
}

.link a:hover::after {
  width: 100%;
  transition: width 200ms;
}
