/* .dot */

.dot {
  background-size: 20px 20px;
  background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, #1e1e1e 1px);
  background-position: center;
  position: relative;
}

/* .dot::before {
  content: '';
  background-image:
    linear-gradient(
      to bottom,
      rgba(30, 30, 30, 1) 0%,
      rgba(30, 30, 30, 0.5) 100%
    );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 40%;
}

.dot::after {
  content: '';
  background-image:
    linear-gradient(
      to top,
      rgba(30, 30, 30, 1) 0%,
      rgba(30, 30, 30, 0.5) 100%
    );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 40%;
} */

/* .dot-bottom and .dot-top */

.dot-bottom,
.dot-top {
  position: relative;
}

.dot-bottom::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 40%;
  background-size: 20px 20px;
  background-image: radial-gradient(#fff 1px, #1e1e1e 1px);
  background-position: center;
}

.dot-bottom::after {
  content: '';
  background-image:
    linear-gradient(
      to bottom,
      rgba(30, 30, 30, 1) 0%,
      rgba(30, 30, 30, 0.5) 100%
    );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 40%;
}

.dot-top::before {
  content: '';
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  width: 100%;
  height: 40%;
  background-size: 20px 20px;
  background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, #1e1e1e 1px);
  background-position: center;
}

.dot-top::after {
  content: '';
  background-image:
    linear-gradient(
      to top,
      rgba(30, 30, 30, 1) 0%,
      rgba(30, 30, 30, 0.1) 100%
    );
  position: absolute;
  top: 5px;
  left: 0;
  right: 0;
  width: 100%;
  height: 40%;
}

.dot-both {
  position: relative;
}

.dot-both::before {
  content: '';
  position: absolute;
  top: 10px;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  background-size: 20px 20px;
  background-image: radial-gradient(rgba(255, 255, 255, 0.2) 1px, #1e1e1e 1px);
  background-position: center;
}

.dot-both::after {
  content: '';
  background-image:
    linear-gradient(
      to bottom,
      rgba(30, 30, 30, 0.1) 0%,
      rgba(30, 30, 30, 1) 50%,
      rgba(30, 30, 30, 0.1) 100%
    );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
}
