* {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  display: none;
}

::selection {
  background-color: #fff;
  color: #1e1e1e;
}

html,
body {
  padding: 0;
  margin: 0;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
  height: 100vh;
  width: 100vw;
  min-height: 100vh;
  min-width: 100vw;
  background-color: #1e1e1e;
  color: #fff;
}

section {
  background-attachment: fixed;
  background-color: #1e1e1e;
}

section.third {
  height: 30vh;
}

section.half {
  height: 50vh;
}

section.rest {
  height: 67vh;
}

section.full {
  height: 100vh;
}

section.indent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 100px calc(10% + 20px);
}

section.dot {
  background-size: 50px 50px;
  background-image: radial-gradient(#fff 1px, #1e1e1e 1px);
  background-position: center;
  position: relative;
}

section.dot::before {
  content: '';
  background-image:
    linear-gradient(
      to bottom,
      rgba(30, 30, 30, 1) 0%,
      rgba(30, 30, 30, 0.5) 100%
    );
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 25%;
}

section.dot::after {
  content: '';
  background-image:
    linear-gradient(
      to top,
      rgba(30, 30, 30, 1) 0%,
      rgba(30, 30, 30, 0.5) 100%
    );
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 25%;
}

section.center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.introduction {
  width: 100%;
  font-family: "Gilroy", sans-serif;
  font-size: 48px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.logo {
  height: 150px;
  width: auto;
}

.intro-name {
  margin: 0;
  margin-left: 10%;
}

.projects {
  width: 100%;
  height: 100%;
  padding: 50px 10%;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  flex-wrap: wrap;
}

.project {
  filter: grayscale(1) blur(2px);
  -webkit-filter: grayscale(1) blur(2px);
  -webkit-transform-style: preserve-3d;
  -webkit-transform: translateZ(0, 0, 0);
  -webkit-backface-visibility: hidden;
  -webkit-perspective: 1000;
  height: 250px;
  cursor: pointer;
  color: #fff;
  border-radius: 10px;
  padding: 40px;
  margin: 20px;
  flex: 1 0 45%;
  background: #f1f3f5;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: stretch;
  box-shadow: none;
  transform: scale(1);
  transition: filter 200ms, box-shadow 200ms, transform 200ms;
}

.project:hover {
  filter: grayscale(0) blur(0);
  box-shadow:
    0 0 110px 0 rgba(0, 0, 0, 0.08),
    0 10px 25px 0 rgba(0, 0, 0, 0.05);
  transform: scale(1.05) rotate(0.01deg);
  transition: filter 200ms, box-shadow 200ms, transform 200ms;
}

.title {
  filter: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name {
  font-weight: bold;
  font-size: 2rem;
}

.status {
  padding: 5px;
  border-radius: 3px;
  color: #fff;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 500;
  box-shadow:
    0 0 30px 0 rgba(0, 0, 0, 0.08),
    0 1px 18px 0 rgba(0, 0, 0, 0.05);
}

.status.stable {
  background-color: #8ce99a;
}

.status.progress {
  background-color: #ffa94d;
}

.description {
  line-height: 1.5rem;
  font-weight: 300;
}

.tags {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0 -5px;
}

.tag {
  opacity: 0;
  transform: translateY(10px);
  margin: 0 5px;
  padding: 10px 15px;
  font-size: 12px;
  color: #fff;
  background: rgba(0, 0, 0, 0.1);
  min-width: 50px;
  text-align: center;
  border-radius: 8px;
  transition: opacity 200ms, transform 200ms;
}

.project:hover .tag {
  opacity: 1;
  transform: translateY(0);
  transition: opacity 200ms, transform 200ms;
}

.project:hover .tag:first-child {
  transition-delay: 100ms;
}

.project:hover .tag:nth-child(2) {
  transition-delay: 200ms;
}

.project:hover .tag:nth-child(3) {
  transition-delay: 300ms;
}

.opus {
  background-image: linear-gradient(to bottom right, #00b0ff, #90caf9);
}

.viv {
  background-image: linear-gradient(to bottom right, #d4145a, #fbb03b);
}

.moon {
  background-image: linear-gradient(to bottom right, #b066fe, #63e2ff);
}

.flow {
  background-image: linear-gradient(to bottom right, #45145a, #ff5300);
}
